@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.app {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #d5ecff;
    padding: 20px 10px;
}