.EditTask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.pencilIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: white;
    opacity: 1;
  }

  > svg {
    width: 18px;
    height: 18px;
  }
}