.EditableSpan {
  display: flex;
  align-items: center;
  height: 32px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;

  > input {
    font-weight: 500;
    width: 100%;
    padding: 5px 3px;
    border-radius: 3px;
    
    &:focus {
      outline: 1px solid #0079bf;
    }
  }
}